$header-color: #3e549d;
$header-height: 50px;
$header-fontsize: 20px;

$sidenav-color: #4d5eab;
$sidenav-hover-color: #3d4a7f;
$sidenav-subcolor: #ffffff;
$sidenav-fontsize: 15px;

$on-white-button-color: #3e549d;
$on-white-hover-color: #7c8dcb;

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

* {
  font-family: 'Montserrat';
  -webkit-user-drag: none;
}

body {
  margin: 0;
  padding: 0;
}

#login {
  > h1 {
    background-color: $header-color;
    color: #ffffff;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 12px 15px;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    > input[type='text'],
    > input[type='password'] {
      background-color: #eee;
      border: none;
      border-radius: 4px;
      width: 260px;
      font-size: 13px;

      margin: 5px 0;
      padding: 10px;

      &:focus {
        outline: 1px solid $on-white-button-color;
      }
    }

    > button {
      background-color: $on-white-button-color;
      border: none;
      width: 280px;

      color: #ffffff;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;

      display: block;
      margin-top: 30px;
      padding: 10px 0;

      &:hover {
        cursor: pointer;
        background-color: $on-white-hover-color;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-anim {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  > div {
    background-color: $on-white-button-color;
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    animation: load_anim 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

    &:nth-child(1) {
      left: 8px;
      animation-delay: -0.24s;
    }

    &:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s;
    }

    &:nth-child(3) {
      left: 56px;
      animation-delay: 0;
    }
  }

  @keyframes load_anim {
    0% {
      top: 8px;
      height: 64px;
    }
    50%,
    100% {
      top: 24px;
      height: 32px;
    }
  }
}

#main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: $header-height 1fr;
  grid-template-columns: auto 1fr;

  > #header {
    background-color: $header-color;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

    > h1 {
      color: #ffffff;
      font-size: $header-fontsize;
      margin: 0;
      user-select: none;
    }

    > button {
      background-color: transparent;
      color: #ffffff;
      padding: 0 20px;
      height: 100%;
      border: none;
      outline: none;

      &:hover {
        background-color: $sidenav-hover-color;
        cursor: pointer;
      }
    }
  }

  > #sidenav {
    background-color: $sidenav-color;
    display: flex;

    > div {
      > button {
        background-color: transparent;
        color: #ffffff;
        border: none;
        display: block;
        margin: 5px 0;
        position: relative;

        > img {
          width: 32px;
          padding: 8px;
          border-radius: 5px;

          &:hover {
            cursor: pointer;
            background-color: $sidenav-hover-color;

            ~ span {
              display: block;
            }
          }
        }

        > span {
          display: none;
          background-color: $sidenav-hover-color;
          border-radius: 5px;
          padding: 8px 16px;
          white-space: nowrap;
          font-size: 14px;

          position: absolute;
          top: 5px;
          left: 60px;
          z-index: 1;
        }

        &:focus {
          outline: none;
        }
      }

      > a {
        color: #111111;
        font-size: $sidenav-fontsize;
        text-decoration: none;
        display: block;
        border-radius: 5px;
        width: 180px;
        margin: 2px 10px;
        padding: 8px 0 8px 15px;

        &:hover {
          cursor: pointer;
          background-color: $on-white-hover-color;
          color: #ffffff;
        }
      }

      &:first-child {
        background-color: $sidenav-color;
      }

      &:last-child {
        background-color: $sidenav-subcolor;
        padding-top: 10px;
        box-shadow: 2px 2px 5px #dbdadd;
      }
    }
  }
}
