$ref-column-width: 240px;

.table-page {
  > table {
    padding: 20px;
    border-radius: 5px;
  }
}

.ref-page {
  > div,
  > button {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
  }

  > div {
    display: flex;

    // Headers
    &:first-of-type {
      font-size: 14px;

      > div {
        width: 200px;
        min-width: 200px;
      }
    }

    // Fields
    > input[type='text'] {
      background-color: inherit;
      color: inherit;
      border: none;
      padding: 0;
      font-size: 15px;
      width: 160px;
      min-width: 160px;
      margin-right: 40px;
      border-bottom: 1px solid transparent;

      &:focus {
        outline: none;
        border-bottom: 1px solid #cbc9ce;

        &::placeholder {
          color: #cbc9ce !important;
        }
      }
    }

    &:not(:last-child) > input[type='text']::placeholder {
      color: #000000;
    }

    &:not(:first-of-type) {
      position: relative;

      > div:last-child {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
        display: flex;
        align-items: center;

        > button {
          border: none;
          border-radius: 5px;
          height: 70%;
          margin-left: 10px;
          padding: 0 10px;

          &:first-child {
            background-color: #c7f5e0;
            color: #5da177;
          }

          &:last-child {
            background-color: #fff5f6;
            color: #ff2e2b;
          }

          &:hover {
            cursor: pointer;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  > button {
    display: block;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

#backup-page {
  > p {
    border-radius: 5px;
    padding: 30px;
    line-height: 26px;

    > button {
      text-decoration: none;
      border: none;
      border-radius: 5px;
      padding: 10px 15px;
      font-size: 14px;
      display: inline-block;
      margin-top: 15px;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}