$title-fontsize: 20px;
$table-header-color: #4d5eab;
$ref-column-width: 240px;

.table-page,
.ref-page {
  padding: 30px 20px;

  h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: $title-fontsize;
  }
}

.table-page {
  > table {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px #cbc9ce;
    border-radius: 5px;
  }
}

.ref-page {
  > div,
  > button {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #cbc9ce;
  }

  > div {
    display: flex;

    > input[type='text'] {
      border: none;
      padding: 0;
      font-size: 15px;
      width: 240px;

      &:focus {
        outline: none;
      }
    }

    &:not(:last-child) > input[type='text']::placeholder {
      color: #000000;
    }

    &:first-of-type {
      background-color: $table-header-color;
      color: #ffffff;
      font-size: 14px;

      > div {
        width: 240px;
      }
    }

    &:not(:first-of-type) {
      background-color: #ffffff;
      position: relative;

      > div:last-child {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
        display: flex;
        align-items: center;

        > button {
          border: none;
          border-radius: 5px;
          height: 70%;
          margin-left: 10px;
          padding: 0 10px;

          &:first-child {
            background-color: #c7f5e0;
            color: #5da177;
          }

          &:last-child {
            background-color: #fff5f6;
            color: #ff2e2b;
          }

          &:hover {
            cursor: pointer;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  > button {
    display: block;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}
